includes:
    - vendor-bin/phpstan/vendor/jangregor/phpstan-prophecy/src/extension.neon
    - vendor-bin/phpstan/vendor/phpstan/phpstan-phpunit/extension.neon
    - vendor-bin/phpstan/vendor/phpstan/phpstan-phpunit/rules.neon

parameters:
    autoload_files:
        - vendor-bin/test/vendor/autoload.php

    ignoreErrors:
        - '#PHPDoc tag \@throws with type Http\\Client\\Exception is not subtype of Throwable#'
