parameters:
	ignoreErrors:
		-
			message: "#^Method Nucleos\\\\LastFm\\\\Builder\\\\AlbumInfoBuilder\\:\\:getQuery\\(\\) return type has no value type specified in iterable type array\\.$#"
			count: 1
			path: src/Builder/AlbumInfoBuilder.php

		-
			message: "#^Property Nucleos\\\\LastFm\\\\Builder\\\\AlbumInfoBuilder\\:\\:\\$query type has no value type specified in iterable type array\\.$#"
			count: 1
			path: src/Builder/AlbumInfoBuilder.php

		-
			message: "#^Method Nucleos\\\\LastFm\\\\Builder\\\\AlbumTagsBuilder\\:\\:getQuery\\(\\) return type has no value type specified in iterable type array\\.$#"
			count: 1
			path: src/Builder/AlbumTagsBuilder.php

		-
			message: "#^Property Nucleos\\\\LastFm\\\\Builder\\\\AlbumTagsBuilder\\:\\:\\$query type has no value type specified in iterable type array\\.$#"
			count: 1
			path: src/Builder/AlbumTagsBuilder.php

		-
			message: "#^Method Nucleos\\\\LastFm\\\\Builder\\\\AlbumTopTagsBuilder\\:\\:getQuery\\(\\) return type has no value type specified in iterable type array\\.$#"
			count: 1
			path: src/Builder/AlbumTopTagsBuilder.php

		-
			message: "#^Property Nucleos\\\\LastFm\\\\Builder\\\\AlbumTopTagsBuilder\\:\\:\\$query type has no value type specified in iterable type array\\.$#"
			count: 1
			path: src/Builder/AlbumTopTagsBuilder.php

		-
			message: "#^Method Nucleos\\\\LastFm\\\\Builder\\\\ArtistInfoBuilder\\:\\:getQuery\\(\\) return type has no value type specified in iterable type array\\.$#"
			count: 1
			path: src/Builder/ArtistInfoBuilder.php

		-
			message: "#^Property Nucleos\\\\LastFm\\\\Builder\\\\ArtistInfoBuilder\\:\\:\\$query type has no value type specified in iterable type array\\.$#"
			count: 1
			path: src/Builder/ArtistInfoBuilder.php

		-
			message: "#^Method Nucleos\\\\LastFm\\\\Builder\\\\ArtistTagsBuilder\\:\\:getQuery\\(\\) return type has no value type specified in iterable type array\\.$#"
			count: 1
			path: src/Builder/ArtistTagsBuilder.php

		-
			message: "#^Property Nucleos\\\\LastFm\\\\Builder\\\\ArtistTagsBuilder\\:\\:\\$query type has no value type specified in iterable type array\\.$#"
			count: 1
			path: src/Builder/ArtistTagsBuilder.php

		-
			message: "#^Method Nucleos\\\\LastFm\\\\Builder\\\\ArtistTopAlbumsBuilder\\:\\:getQuery\\(\\) return type has no value type specified in iterable type array\\.$#"
			count: 1
			path: src/Builder/ArtistTopAlbumsBuilder.php

		-
			message: "#^Property Nucleos\\\\LastFm\\\\Builder\\\\ArtistTopAlbumsBuilder\\:\\:\\$query type has no value type specified in iterable type array\\.$#"
			count: 1
			path: src/Builder/ArtistTopAlbumsBuilder.php

		-
			message: "#^Method Nucleos\\\\LastFm\\\\Builder\\\\ArtistTopTagsBuilder\\:\\:getQuery\\(\\) return type has no value type specified in iterable type array\\.$#"
			count: 1
			path: src/Builder/ArtistTopTagsBuilder.php

		-
			message: "#^Property Nucleos\\\\LastFm\\\\Builder\\\\ArtistTopTagsBuilder\\:\\:\\$query type has no value type specified in iterable type array\\.$#"
			count: 1
			path: src/Builder/ArtistTopTagsBuilder.php

		-
			message: "#^Method Nucleos\\\\LastFm\\\\Builder\\\\ArtistTopTracksBuilder\\:\\:getQuery\\(\\) return type has no value type specified in iterable type array\\.$#"
			count: 1
			path: src/Builder/ArtistTopTracksBuilder.php

		-
			message: "#^Property Nucleos\\\\LastFm\\\\Builder\\\\ArtistTopTracksBuilder\\:\\:\\$query type has no value type specified in iterable type array\\.$#"
			count: 1
			path: src/Builder/ArtistTopTracksBuilder.php

		-
			message: "#^Method Nucleos\\\\LastFm\\\\Builder\\\\ScrobbeBuilder\\:\\:getQuery\\(\\) return type has no value type specified in iterable type array\\.$#"
			count: 1
			path: src/Builder/ScrobbeBuilder.php

		-
			message: "#^Property Nucleos\\\\LastFm\\\\Builder\\\\ScrobbeBuilder\\:\\:\\$tracks type has no value type specified in iterable type array\\.$#"
			count: 1
			path: src/Builder/ScrobbeBuilder.php

		-
			message: "#^Method Nucleos\\\\LastFm\\\\Builder\\\\SimilarArtistBuilder\\:\\:getQuery\\(\\) return type has no value type specified in iterable type array\\.$#"
			count: 1
			path: src/Builder/SimilarArtistBuilder.php

		-
			message: "#^Property Nucleos\\\\LastFm\\\\Builder\\\\SimilarArtistBuilder\\:\\:\\$query type has no value type specified in iterable type array\\.$#"
			count: 1
			path: src/Builder/SimilarArtistBuilder.php

		-
			message: "#^Method Nucleos\\\\LastFm\\\\Builder\\\\SimilarTrackBuilder\\:\\:getQuery\\(\\) return type has no value type specified in iterable type array\\.$#"
			count: 1
			path: src/Builder/SimilarTrackBuilder.php

		-
			message: "#^Property Nucleos\\\\LastFm\\\\Builder\\\\SimilarTrackBuilder\\:\\:\\$query type has no value type specified in iterable type array\\.$#"
			count: 1
			path: src/Builder/SimilarTrackBuilder.php

		-
			message: "#^Method Nucleos\\\\LastFm\\\\Builder\\\\TrackBuilder\\:\\:__construct\\(\\) has parameter \\$data with no value type specified in iterable type array\\.$#"
			count: 1
			path: src/Builder/TrackBuilder.php

		-
			message: "#^Method Nucleos\\\\LastFm\\\\Builder\\\\TrackBuilder\\:\\:getData\\(\\) return type has no value type specified in iterable type array\\.$#"
			count: 1
			path: src/Builder/TrackBuilder.php

		-
			message: "#^Property Nucleos\\\\LastFm\\\\Builder\\\\TrackBuilder\\:\\:\\$data type has no value type specified in iterable type array\\.$#"
			count: 1
			path: src/Builder/TrackBuilder.php

		-
			message: "#^Method Nucleos\\\\LastFm\\\\Builder\\\\TrackInfoBuilder\\:\\:getQuery\\(\\) return type has no value type specified in iterable type array\\.$#"
			count: 1
			path: src/Builder/TrackInfoBuilder.php

		-
			message: "#^Property Nucleos\\\\LastFm\\\\Builder\\\\TrackInfoBuilder\\:\\:\\$query type has no value type specified in iterable type array\\.$#"
			count: 1
			path: src/Builder/TrackInfoBuilder.php

		-
			message: "#^Method Nucleos\\\\LastFm\\\\Builder\\\\TrackTagsBuilder\\:\\:getQuery\\(\\) return type has no value type specified in iterable type array\\.$#"
			count: 1
			path: src/Builder/TrackTagsBuilder.php

		-
			message: "#^Property Nucleos\\\\LastFm\\\\Builder\\\\TrackTagsBuilder\\:\\:\\$query type has no value type specified in iterable type array\\.$#"
			count: 1
			path: src/Builder/TrackTagsBuilder.php

		-
			message: "#^Method Nucleos\\\\LastFm\\\\Builder\\\\TrackTopTagsBuilder\\:\\:getQuery\\(\\) return type has no value type specified in iterable type array\\.$#"
			count: 1
			path: src/Builder/TrackTopTagsBuilder.php

		-
			message: "#^Property Nucleos\\\\LastFm\\\\Builder\\\\TrackTopTagsBuilder\\:\\:\\$query type has no value type specified in iterable type array\\.$#"
			count: 1
			path: src/Builder/TrackTopTagsBuilder.php

		-
			message: "#^Method Nucleos\\\\LastFm\\\\Client\\\\ApiClient\\:\\:call\\(\\) has parameter \\$params with no value type specified in iterable type array\\.$#"
			count: 1
			path: src/Client/ApiClient.php

		-
			message: "#^Method Nucleos\\\\LastFm\\\\Client\\\\ApiClient\\:\\:call\\(\\) return type has no value type specified in iterable type array\\.$#"
			count: 1
			path: src/Client/ApiClient.php

		-
			message: "#^Method Nucleos\\\\LastFm\\\\Client\\\\ApiClient\\:\\:filterNull\\(\\) has parameter \\$object with no value type specified in iterable type array\\.$#"
			count: 1
			path: src/Client/ApiClient.php

		-
			message: "#^Method Nucleos\\\\LastFm\\\\Client\\\\ApiClient\\:\\:filterNull\\(\\) return type has no value type specified in iterable type array\\.$#"
			count: 1
			path: src/Client/ApiClient.php

		-
			message: "#^Method Nucleos\\\\LastFm\\\\Client\\\\ApiClient\\:\\:signParams\\(\\) has parameter \\$params with no value type specified in iterable type array\\.$#"
			count: 1
			path: src/Client/ApiClient.php

		-
			message: "#^Method Nucleos\\\\LastFm\\\\Client\\\\ApiClient\\:\\:signedCall\\(\\) has parameter \\$params with no value type specified in iterable type array\\.$#"
			count: 1
			path: src/Client/ApiClient.php

		-
			message: "#^Method Nucleos\\\\LastFm\\\\Client\\\\ApiClient\\:\\:signedCall\\(\\) return type has no value type specified in iterable type array\\.$#"
			count: 1
			path: src/Client/ApiClient.php

		-
			message: "#^Method Nucleos\\\\LastFm\\\\Client\\\\ApiClient\\:\\:unsignedCall\\(\\) has parameter \\$params with no value type specified in iterable type array\\.$#"
			count: 1
			path: src/Client/ApiClient.php

		-
			message: "#^Method Nucleos\\\\LastFm\\\\Client\\\\ApiClient\\:\\:unsignedCall\\(\\) return type has no value type specified in iterable type array\\.$#"
			count: 1
			path: src/Client/ApiClient.php

		-
			message: "#^Method Nucleos\\\\LastFm\\\\Client\\\\ApiClientInterface\\:\\:signedCall\\(\\) has parameter \\$params with no value type specified in iterable type array\\.$#"
			count: 1
			path: src/Client/ApiClientInterface.php

		-
			message: "#^Method Nucleos\\\\LastFm\\\\Client\\\\ApiClientInterface\\:\\:signedCall\\(\\) return type has no value type specified in iterable type array\\.$#"
			count: 1
			path: src/Client/ApiClientInterface.php

		-
			message: "#^Method Nucleos\\\\LastFm\\\\Client\\\\ApiClientInterface\\:\\:unsignedCall\\(\\) has parameter \\$params with no value type specified in iterable type array\\.$#"
			count: 1
			path: src/Client/ApiClientInterface.php

		-
			message: "#^Method Nucleos\\\\LastFm\\\\Client\\\\ApiClientInterface\\:\\:unsignedCall\\(\\) return type has no value type specified in iterable type array\\.$#"
			count: 1
			path: src/Client/ApiClientInterface.php

		-
			message: "#^Method Nucleos\\\\LastFm\\\\Connection\\\\ConnectionInterface\\:\\:call\\(\\) has parameter \\$params with no value type specified in iterable type array\\.$#"
			count: 1
			path: src/Connection/ConnectionInterface.php

		-
			message: "#^Method Nucleos\\\\LastFm\\\\Connection\\\\ConnectionInterface\\:\\:call\\(\\) return type has no value type specified in iterable type array\\.$#"
			count: 1
			path: src/Connection/ConnectionInterface.php

		-
			message: "#^Method Nucleos\\\\LastFm\\\\Connection\\\\ConnectionInterface\\:\\:getPageBody\\(\\) has parameter \\$params with no value type specified in iterable type array\\.$#"
			count: 1
			path: src/Connection/ConnectionInterface.php

		-
			message: "#^Method Nucleos\\\\LastFm\\\\Connection\\\\PsrClientConnection\\:\\:call\\(\\) has parameter \\$params with no value type specified in iterable type array\\.$#"
			count: 1
			path: src/Connection/PsrClientConnection.php

		-
			message: "#^Method Nucleos\\\\LastFm\\\\Connection\\\\PsrClientConnection\\:\\:call\\(\\) return type has no value type specified in iterable type array\\.$#"
			count: 1
			path: src/Connection/PsrClientConnection.php

		-
			message: "#^Method Nucleos\\\\LastFm\\\\Connection\\\\PsrClientConnection\\:\\:createRequest\\(\\) has parameter \\$params with no value type specified in iterable type array\\.$#"
			count: 1
			path: src/Connection/PsrClientConnection.php

		-
			message: "#^Method Nucleos\\\\LastFm\\\\Connection\\\\PsrClientConnection\\:\\:getPageBody\\(\\) has parameter \\$params with no value type specified in iterable type array\\.$#"
			count: 1
			path: src/Connection/PsrClientConnection.php

		-
			message: "#^Method Nucleos\\\\LastFm\\\\Connection\\\\PsrClientConnection\\:\\:parseResponse\\(\\) return type has no value type specified in iterable type array\\.$#"
			count: 1
			path: src/Connection/PsrClientConnection.php

		-
			message: "#^Method Nucleos\\\\LastFm\\\\Crawler\\\\AbstractCrawler\\:\\:crawl\\(\\) has parameter \\$params with no value type specified in iterable type array\\.$#"
			count: 1
			path: src/Crawler/AbstractCrawler.php

		-
			message: "#^Short ternary operator is not allowed\\. Use null coalesce operator if applicable or consider using long ternary\\.$#"
			count: 1
			path: src/Crawler/ArtistEventCrawler.php

		-
			message: "#^Method Nucleos\\\\LastFm\\\\Crawler\\\\EventListCrawler\\:\\:crawlEventListGroup\\(\\) return type has no value type specified in iterable type array\\.$#"
			count: 1
			path: src/Crawler/EventListCrawler.php

		-
			message: "#^Short ternary operator is not allowed\\. Use null coalesce operator if applicable or consider using long ternary\\.$#"
			count: 1
			path: src/Crawler/UserEventCrawler.php

		-
			message: "#^Method Nucleos\\\\LastFm\\\\Filter\\\\RangeFilter\\:\\:getQuery\\(\\) return type has no value type specified in iterable type array\\.$#"
			count: 1
			path: src/Filter/RangeFilter.php

		-
			message: "#^Method Nucleos\\\\LastFm\\\\Model\\\\Album\\:\\:createImagesFromApi\\(\\) has parameter \\$data with no value type specified in iterable type array\\.$#"
			count: 1
			path: src/Model/Album.php

		-
			message: "#^Method Nucleos\\\\LastFm\\\\Model\\\\Album\\:\\:createImagesFromApi\\(\\) return type has no value type specified in iterable type array\\.$#"
			count: 1
			path: src/Model/Album.php

		-
			message: "#^Method Nucleos\\\\LastFm\\\\Model\\\\Album\\:\\:fromApi\\(\\) has parameter \\$data with no value type specified in iterable type array\\.$#"
			count: 1
			path: src/Model/Album.php

		-
			message: "#^Method Nucleos\\\\LastFm\\\\Model\\\\AlbumInfo\\:\\:createImagesFromApi\\(\\) has parameter \\$data with no value type specified in iterable type array\\.$#"
			count: 1
			path: src/Model/AlbumInfo.php

		-
			message: "#^Method Nucleos\\\\LastFm\\\\Model\\\\AlbumInfo\\:\\:createImagesFromApi\\(\\) return type has no value type specified in iterable type array\\.$#"
			count: 1
			path: src/Model/AlbumInfo.php

		-
			message: "#^Method Nucleos\\\\LastFm\\\\Model\\\\AlbumInfo\\:\\:createTagsFromApi\\(\\) has parameter \\$data with no value type specified in iterable type array\\.$#"
			count: 1
			path: src/Model/AlbumInfo.php

		-
			message: "#^Method Nucleos\\\\LastFm\\\\Model\\\\AlbumInfo\\:\\:createTagsFromApi\\(\\) return type has no value type specified in iterable type array\\.$#"
			count: 1
			path: src/Model/AlbumInfo.php

		-
			message: "#^Method Nucleos\\\\LastFm\\\\Model\\\\AlbumInfo\\:\\:createTracksFromApi\\(\\) has parameter \\$data with no value type specified in iterable type array\\.$#"
			count: 1
			path: src/Model/AlbumInfo.php

		-
			message: "#^Method Nucleos\\\\LastFm\\\\Model\\\\AlbumInfo\\:\\:createTracksFromApi\\(\\) return type has no value type specified in iterable type array\\.$#"
			count: 1
			path: src/Model/AlbumInfo.php

		-
			message: "#^Method Nucleos\\\\LastFm\\\\Model\\\\AlbumInfo\\:\\:fromApi\\(\\) has parameter \\$data with no value type specified in iterable type array\\.$#"
			count: 1
			path: src/Model/AlbumInfo.php

		-
			message: "#^Method Nucleos\\\\LastFm\\\\Model\\\\Artist\\:\\:createImagesFromApi\\(\\) has parameter \\$data with no value type specified in iterable type array\\.$#"
			count: 1
			path: src/Model/Artist.php

		-
			message: "#^Method Nucleos\\\\LastFm\\\\Model\\\\Artist\\:\\:createImagesFromApi\\(\\) return type has no value type specified in iterable type array\\.$#"
			count: 1
			path: src/Model/Artist.php

		-
			message: "#^Method Nucleos\\\\LastFm\\\\Model\\\\Artist\\:\\:fromApi\\(\\) has parameter \\$data with no value type specified in iterable type array\\.$#"
			count: 1
			path: src/Model/Artist.php

		-
			message: "#^Method Nucleos\\\\LastFm\\\\Model\\\\ArtistInfo\\:\\:createImagesFromApi\\(\\) has parameter \\$data with no value type specified in iterable type array\\.$#"
			count: 1
			path: src/Model/ArtistInfo.php

		-
			message: "#^Method Nucleos\\\\LastFm\\\\Model\\\\ArtistInfo\\:\\:createImagesFromApi\\(\\) return type has no value type specified in iterable type array\\.$#"
			count: 1
			path: src/Model/ArtistInfo.php

		-
			message: "#^Method Nucleos\\\\LastFm\\\\Model\\\\ArtistInfo\\:\\:createTagsFromApi\\(\\) has parameter \\$data with no value type specified in iterable type array\\.$#"
			count: 1
			path: src/Model/ArtistInfo.php

		-
			message: "#^Method Nucleos\\\\LastFm\\\\Model\\\\ArtistInfo\\:\\:createTagsFromApi\\(\\) return type has no value type specified in iterable type array\\.$#"
			count: 1
			path: src/Model/ArtistInfo.php

		-
			message: "#^Method Nucleos\\\\LastFm\\\\Model\\\\ArtistInfo\\:\\:fromApi\\(\\) has parameter \\$data with no value type specified in iterable type array\\.$#"
			count: 1
			path: src/Model/ArtistInfo.php

		-
			message: "#^Method Nucleos\\\\LastFm\\\\Model\\\\Chart\\:\\:fromApi\\(\\) has parameter \\$data with no value type specified in iterable type array\\.$#"
			count: 1
			path: src/Model/Chart.php

		-
			message: "#^Method Nucleos\\\\LastFm\\\\Model\\\\NowPlaying\\:\\:toArray\\(\\) return type has no value type specified in iterable type array\\.$#"
			count: 1
			path: src/Model/NowPlaying.php

		-
			message: "#^Method Nucleos\\\\LastFm\\\\Model\\\\Song\\:\\:fromApi\\(\\) has parameter \\$data with no value type specified in iterable type array\\.$#"
			count: 1
			path: src/Model/Song.php

		-
			message: "#^Method Nucleos\\\\LastFm\\\\Model\\\\SongInfo\\:\\:createTagsFromApi\\(\\) has parameter \\$data with no value type specified in iterable type array\\.$#"
			count: 1
			path: src/Model/SongInfo.php

		-
			message: "#^Method Nucleos\\\\LastFm\\\\Model\\\\SongInfo\\:\\:createTagsFromApi\\(\\) return type has no value type specified in iterable type array\\.$#"
			count: 1
			path: src/Model/SongInfo.php

		-
			message: "#^Method Nucleos\\\\LastFm\\\\Model\\\\SongInfo\\:\\:fromApi\\(\\) has parameter \\$data with no value type specified in iterable type array\\.$#"
			count: 1
			path: src/Model/SongInfo.php

		-
			message: "#^Method Nucleos\\\\LastFm\\\\Model\\\\Tag\\:\\:fromApi\\(\\) has parameter \\$data with no value type specified in iterable type array\\.$#"
			count: 1
			path: src/Model/Tag.php

		-
			message: "#^Method Nucleos\\\\LastFm\\\\Model\\\\TagInfo\\:\\:fromApi\\(\\) has parameter \\$data with no value type specified in iterable type array\\.$#"
			count: 1
			path: src/Model/TagInfo.php

		-
			message: "#^Method Nucleos\\\\LastFm\\\\Model\\\\User\\:\\:fromApi\\(\\) has parameter \\$data with no value type specified in iterable type array\\.$#"
			count: 1
			path: src/Model/User.php

		-
			message: "#^Method Nucleos\\\\LastFm\\\\Service\\\\TrackService\\:\\:addTags\\(\\) has parameter \\$tags with no value type specified in iterable type array\\.$#"
			count: 1
			path: src/Service/TrackService.php

		-
			message: "#^Method Nucleos\\\\LastFm\\\\Service\\\\TrackServiceInterface\\:\\:addTags\\(\\) has parameter \\$tags with no value type specified in iterable type array\\.$#"
			count: 1
			path: src/Service/TrackServiceInterface.php

		-
			message: "#^Method Nucleos\\\\LastFm\\\\Util\\\\ApiHelper\\:\\:mapList\\(\\) has parameter \\$data with no value type specified in iterable type array\\.$#"
			count: 1
			path: src/Util/ApiHelper.php

		-
			message: "#^Method Nucleos\\\\LastFm\\\\Util\\\\ApiHelper\\:\\:mapList\\(\\) return type has no value type specified in iterable type array\\.$#"
			count: 1
			path: src/Util/ApiHelper.php

