parameters:
	ignoreErrors:
		-
			message: "#^Parameter \\#1 \\$connection of class Core23\\\\LastFm\\\\Service\\\\AuthService constructor expects Core23\\\\LastFm\\\\Client\\\\ApiClientInterface, object given\\.$#"
			count: 3
			path: tests/Service/AuthServiceTest.php

		-
			message: "#^Parameter \\#1 \\$client of class Core23\\\\LastFm\\\\Service\\\\GeoService constructor expects Core23\\\\LastFm\\\\Client\\\\ApiClientInterface, object given\\.$#"
			count: 2
			path: tests/Service/GeoServiceTest.php

		-
			message: "#^Parameter \\#1 \\$client of class Core23\\\\LastFm\\\\Service\\\\LibraryService constructor expects Core23\\\\LastFm\\\\Client\\\\ApiClientInterface, object given\\.$#"
			count: 1
			path: tests/Service/LibraryServiceTest.php


